<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
</head>
<body>
<h1 align="middle">SportyShoes.com</h1>
<hr/>
<span th:text="${msg}" style="color:red"></span>
<form action="#" th:action="@{sign-up}" method="post" th:object="${user}">
    <label>Email</label>
    <input type="email" th:field="*{email}"><br/>
    <label>Password</label>
    <input type="password" th:field="*{password}"><br/>
    <input type="submit" value="Sign Up"/>
    <input type="reset" value="Reset"/>
</form>
</body>
</html>